/* Board Common */
.NFBoard_error_msg {border:1px solid #ed1c24;background-color:#ffeeee;color:#ed1c24;text-align:center;padding:20px;margin:20px;}
#NFBoard_Wrap {background-color:#fff;}
#NFBoard_Wrap table tr:nth-child(even) { background: #ffffff; }
#NFBoard_Wrap * {line-height:1.2 !important;}
#NFBoard_Wrap td.cont ul,
#NFBoard_Wrap td.cont ol,
#NFBoard_Wrap td.cont .tbl_type_view td.cont dl,
#NFBoard_Wrap td.cont dt,
#NFBoard_Wrap td.cont dd,
#NFBoard_Wrap td.cont li {list-style:inherit;}
#NFBoard_Wrap td.cont ol {list-style-type:decimal;}
#NFBoard_Wrap td.cont dt,
#NFBoard_Wrap td.cont ol,
#NFBoard_Wrap td.cont ul {padding-left:20px;}
#NFBoard_Wrap td.cont blockquote {padding:inherit;margin:inherit;}
#NFBoard_Wrap td.cont h1 {font-size:2em;margin:.67em 0;font-weight:bold;}
#NFBoard_Wrap td.cont h2 {font-size:1.5em;margin:.83em 0;font-weight:bold;}
#NFBoard_Wrap td.cont h3 {font-size:1.17em;margin:1em 0;font-weight:bold;}
#NFBoard_Wrap td.cont h4 {font-size:1em;margin:1.33em 0;font-weight:bold;}
#NFBoard_Wrap td.cont h5 {font-size:.83em;margin:1.67em 0;font-weight:bold;}
#NFBoard_Wrap td.cont h6 {font-size:.67em;margin:2.33em 0;font-weight:bold;}
#NFBoard_Wrap hr {display:block;margin:.5em 0;}
#NFBoard_Wrap input[type=text],
#NFBoard_Wrap input[type=password],
#NFBoard_Wrap input[type=checkbox],
#NFBoard_Wrap input[type=radio],
#NFBoard_Wrap textarea{border:0;padding:0;margin:0;height:auto;line-height:inherit;text-indent:0;box-shadow:inherit;border-radius:0;}
#NFBoard_Wrap select {height:auto;padding:2px 3px;margin:-1px 0 1px;}
#NFBoard_Wrap table th {font-weight:700 !important;}
#NFBoard_Wrap .bold {font-weight:bold;}
#NFBoard_Wrap .f11 {font-size:11px;}
#NFBoard_Wrap .f11d {font-size:11px;}
#NFBoard_Wrap .red {color:#e14944}
#NFBoard_Wrap .open_meg {margin:5px;padding:5px;text-align:center;font-size:11px;color:#ed1c24;background:#ffeeee;border:1px solid #ed1c24;font-weight:bold;}
#NFBoard_Wrap .btn_area {padding:10px 0;text-align:right;}

/* Board List */
#NFBoard_Wrap .list-search-set {width:100%;margin:0;padding:0;}
#NFBoard_Wrap .list-search-set:after{content:'';clear:both;display:block;}
#NFBoard_Wrap .list-search-set .srch{padding:5px 0;float:right;}
#NFBoard_Wrap .list-search-set .srch div{overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0 !important;}
#NFBoard_Wrap .list-search-set .srch{color:#c4c4c4;text-align:center}
#NFBoard_Wrap .list-search-set .srch select,#NFBoard_Wrap .srch input{margin:-1px 0 1px;font-size:12px;color:#373737;vertical-align:middle}
#NFBoard_Wrap .list-search-set .srch img {position:relative;top:-1px;}
#NFBoard_Wrap .list-search-set .srch .keyword{margin-left:1px;padding:3px 3px 2px;border:1px solid #b5b5b5;font-size:12px;line-height:15px !important;}
#NFBoard_Wrap .list-search-set .totalcount{float:left;padding:0px;color:#313031;text-align:center;position:relative;top:13px;}
#NFBoard_Wrap .list-table-set,
#NFBoard_Wrap .list-table-set th,
#NFBoard_Wrap .list-table-set td{border:0}
#NFBoard_Wrap .list-table-set a{text-decoration:none}
#NFBoard_Wrap .list-table-set{border:1px solid #dbdbdb;width:100%;font-size:12px;table-layout:fixed}
#NFBoard_Wrap .list-table-set caption,#NFBoard_Wrap .list-table-set .frm label{display:none}
#NFBoard_Wrap .list-table-set th{text-align:center;padding:10px 0 7px;border-top:solid 1px #d2d2d2;border-bottom:solid 1px #d2d2d2;background-color:#f5f5f5;font-weight:bold;line-height:18px !important;vertical-align:top;font-size:11px; background:url(../images/table_th_bg.gif) repeat-x center bottom;}
#NFBoard_Wrap .list-table-set td{padding:10px 0 7px;border-bottom:solid 1px #e7e7e7;text-align:center}
#NFBoard_Wrap .list-table-set .frm{padding:0;text-align:center}
#NFBoard_Wrap .list-table-set .frm input{margin:0}
#NFBoard_Wrap .list-table-set .num,
#NFBoard_Wrap .list-table-set .date,
#NFBoard_Wrap .list-table-set .hit{font-size:12px;line-height:normal !important}
#NFBoard_Wrap .list-table-set .title{text-align:left;}
#NFBoard_Wrap .list-table-set .title .pic,#NFBoard_Wrap .list-table-set .title .new{margin:0 0 2px;vertical-align:middle}
#NFBoard_Wrap .list-table-set .title a div {line-height:20px !important;}
#NFBoard_Wrap .list-table-set td a.comment{padding:0;background:none;color:#f00;font-size:11px;font-weight:bold;}
#NFBoard_Wrap .paginate{width:100%;padding:10px 0;text-align:center}
#NFBoard_Wrap .paginate a{padding:7px;border-left:1px solid #ccc;background:#fff;color:#313031;font-weight:bold;text-decoration:none;}
#NFBoard_Wrap .paginate strong{padding:7px;border-left:1px solid #ccc;background:#fff;color:#1c71fd;font-weight:bold;text-decoration:none;}
#NFBoard_Wrap .paginate a.fir {border:none;}
#NFBoard_Wrap .paginate a.pre{border:none;padding:0px;}
#NFBoard_Wrap .paginate a.pre_end{border:none;padding:0px;}
#NFBoard_Wrap .paginate a.next{border:none;padding:0px;}
#NFBoard_Wrap .paginate a.next_end{border:none;padding:0px;}
#NFBoard_Wrap .paginate a.pre,#NFBoard_Wrap .paginate a.next, #NFBoard_Wrap .paginate a.next_end, #NFBoard_Wrap .paginate a.pre_end {background:none !important;}

/* Board View */
#NFBoard_Wrap legend{display:none}
#NFBoard_Wrap .view-table-set,#NFBoard_Wrap .view-table-set th,#NFBoard_Wrap .view-table-set td{border:0;}
#NFBoard_Wrap .view-table-set {width:100%;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;font-size:12px;table-layout:fixed;}
#NFBoard_Wrap .view-table-set th{padding:10px 0 7px;text-align:center;border-bottom:solid 1px #d2d2d2;background-color:#f9f9f9;font-weight:bold;line-height:18px !important;vertical-align:top;}
#NFBoard_Wrap .view-table-set td{padding:10px 0 7px 7px;border-bottom:solid 1px #d2d2d2;text-align:left}
#NFBoard_Wrap .view-table-set td.cont{padding:10px;line-height:1.6em !important}
#NFBoard_Wrap .view-table-set td.cont * {line-height:2em !important}
#NFBoard_Wrap .view-table-set td.cont em {font-style:italic;}
#NFBoard_Wrap .view-table-set span.date {float:right;font-size:11px;margin-right:10px;}

/* Board Comment */
#NFBoard_Wrap .total {padding:10px 0 0 10px;margin-bottom:5px;}
#NFBoard_Wrap .comment-set {border:1px solid #d2d2d2;padding:10px;background-color:#f9f9f9;} */
#NFBoard_Wrap .comment-set  input,#NFBoard_Wrap .comment-set textarea{vertical-align:middle}
#NFBoard_Wrap .comment-set  input.name{width:100px;padding:2px 0 1px;border:solid 1px #d2d2d2}
#NFBoard_Wrap .comment-set  textarea.comment{width:80%;height:50px;padding:2px 0 1px;border:solid 1px #d2d2d2}
#NFBoard_Wrap .comment-set  input.submit{width:60px;height:50px;border:solid 1px #999;background-color:#ffffff;font-size:12px;line-height:normal !important;cursor:pointer;}
#NFBoard_Wrap .comment-set .input_left {float:left;margin-right:10px;width:100px;}
#NFBoard_Wrap .comment-set .input_left input {margin:2px 0;padding:4px 0 2px;font-size:11px;background-color:#ffffff;}
#NFBoard_Wrap .comment-set .input_right {float:left;}
#NFBoard_Wrap .comment-set .input_right input {background-color:#ffffff;}
#NFBoard_Wrap .comment-set .input_right .txt {padding:2px 5px 0;font-size:11px;min-width:400px;}
#NFBoard_Wrap .comment-set .input_right .txt + p {margin-top:3px;}
#NFBoard_Wrap .comment-set .input_right  img {width:110px;height:50px;border:2px solid #f1f1f1;margin:0 10px 5px 0}
#NFBoard_Wrap .comment-set .input_comment {clear:both;} 
#NFBoard_Wrap .comment-set .input_comment span.submit {padding:16px;width:60px;height:50px;border:solid 1px #999;background-color:#ffffff;font-size:12px;line-height:normal !important;cursor:pointer;} 
#NFBoard_Wrap .comment-set input,#NFBoard_Wrap .comment-set textarea{vertical-align:middle}
#NFBoard_Wrap .comment-set textarea.comment{width:70%;height:50px;padding:2px 0 1px;border:solid 1px #d2d2d2;margin-right:5px;background-color:#ffffff;}
#NFBoard_Wrap .comment-set input.submit{width:60px;height:50px;border:solid 1px #999;background-color:#ffffff;font-size:12px;color:#000;cursor:pointer;line-height:50px !important;}
#NFBoard_Wrap .comment_list_box {padding:0px;margin:0px;}
#NFBoard_Wrap .comment_list_box li {list-style:none;}
#NFBoard_Wrap .comment_list {margin:0px;padding:10px;}
#NFBoard_Wrap .comment_list li.comm_dot {border-bottom:dotted 1px #ddd;padding:5px;}
#NFBoard_Wrap .comment_list li.comm {border-bottom:dotted 1px #ddd;padding:5px;}
#NFBoard_Wrap .comment_list li p {padding:0px;margin:5px;}
#NFBoard_Wrap .comment_list li p.con {padding:10px 0;line-height:1.4em !important;}
#NFBoard_Wrap .comment_list li p.name {font-weight:bold;}
#NFBoard_Wrap .comment_list li p span.date {font-size:10px;color:#999;margin-left:15px;font-weight:normal;}
#NFBoard_Wrap .comment_list li.reply {background:url(../images/ico_re2.gif) no-repeat 10px 8px ;padding-left:26px;}
#NFBoard_Wrap .comment_list li.reply2 {background:url(../images/ico_re2.gif) no-repeat 28px 8px ;padding-left:42px;}
#NFBoard_Wrap .comment_list .del_input {font-size:11px;padding:0px;margin-top:10px;margin-bottom:10px;}
#NFBoard_Wrap .comment_list .del_input .pass_input {width:100%;background-color:#fefefe;border:1px solid #d2d2d2;padding:5px;}
#NFBoard_Wrap .comment_list .del_input .pass_input .tit {font-size:11px;}
#NFBoard_Wrap .comment_list .del_input .pass_input input {border:1px solid #ccc;padding:2px;font-size:11px;width:80px;margin-right:3px;}
#NFBoard_Wrap .comment_list .del_input .meg {margin:5px 0 0 0;padding:5px;font-size:11px;color:#ed1c24;background:#ffeeee;border:1px solid #ed1c24;text-align:center;font-weight:bold;}

/* Board Write */
#NFBoard_Wrap .write-table-set{}
#NFBoard_Wrap .write-table-set input,#NFBoard_Wrap .write-table-set textarea,#NFBoard_Wrap .write-table-set select,#NFBoard_Wrap .write-table-set table,#NFBoard_Wrap .write-table-set button{font-size:12px}
#NFBoard_Wrap .write-table-set table{width:100%;border:0;border-top:1px solid #d2d2d2;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
#NFBoard_Wrap .write-table-set caption{padding:8px 0;font-weight:bold;text-align:left}
#NFBoard_Wrap .write-table-set th{padding:8px 0 6px 0;border:0;text-align:center;border-bottom:1px solid #ddd;background:#f9f9f9;}
#NFBoard_Wrap .write-table-set td{padding:8px;border:0;border-bottom:1px solid #ddd;}
#NFBoard_Wrap .write-table-set .item{position:relative;margin:-4px 0}
#NFBoard_Wrap .write-table-set .item .i_help{position:absolute;top:4px;right:0}
#NFBoard_Wrap .write-table-set .item .i_label{ top:6px; left:10px}
#NFBoard_Wrap .write-table-set .item .i_dsc{margin:2px 0}
#NFBoard_Wrap .write-table-set .item .i_dsc a {color:#e46c0a;}
#NFBoard_Wrap .write-table-set .item .i_check,
#NFBoard_Wrap .write-table-set .item .i_radio{width:13px;height:13px;margin:2px 5px 2px 0;padding:0;vertical-align:middle}
#NFBoard_Wrap .write-table-set .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
#NFBoard_Wrap .write-table-set .item .hide{visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0 !important;}
#NFBoard_Wrap .write-table-set .item select{margin:2px}
#NFBoard_Wrap .write-table-set .item input.pds_file{width:100%;}
#NFBoard_Wrap .write-table-set .item label{margin:0 10px 0 0;cursor:pointer}
#NFBoard_Wrap .agree1{border:rgb(238,238,238) 1px solid;text-align:justify;padding:5px;background:rgb(255,255,255);height:120px;overflow:auto;margin-bottom:5px;}
#NFBoard_Wrap .agree1 p{color:rgb(102,102,102);font-size-adjust:none;font-stretch:normal;}

/* Board Copyright */
span.copyright {float:left;padding-left:10px;font-size:12px;color:#888;}
span.copyright a {color:#888;text-decoration:underline}